/* ==========================================================================
   Responsive styles
   ========================================================================== */

/* Wide Screens */

@media (min-width: 1920px) and (max-width: 2560px) {
  .container {
    max-width: 1920px;
    margin: 0px auto;
  }
}

/* Desktop */

@media (max-width: 1600px) {
  .container {
    margin: 2vh auto;
  }

  footer img {
    right: -10%;
  }
}

/* Desktop Small */

@media (max-width: 1400px) {
}

/* Laptop */

@media screen and (min-device-width: 768px) and (max-device-width: 1600px) {
}

/* Tablet Landscape */

@media (max-width: 1024px) {
  header .nav li {
    font-size: 12px;
  }

  header .nav li a {
    padding: 0px 10px 0px 10px;
  }

  .btn-container {
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
  }

  .btn {
    width: 100%;
  }

  .head {
    margin-left: 0px;
    margin-top: 10px;
  }

  .hero-badger {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-badger h2 {
    width: 100%;
    font-size: 36px;
  }

  footer img {
    max-width: 350px;
  }
}

/* Tablet Portrait */

@media (max-width: 768px) {
  .container-tiny {
    width: 100%;
  }

  h1 {
    font-size: 26px;
  }
}
/* Mobile Landscape */

@media (max-width: 768px), (orientation: landscape) and (max-height: 500px) {
}

/* Mobile */

@media (max-width: 642px) {
  .w-40,
  .w-50,
  .w-60,
  .w-70 {
    width: 100%;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }

  h1 {
    font-size: 38px;
    line-height: 42px;
    text-align: center;
  }

  .hero-vid {
    position: absolute;
    width: 250%;
    top: 2%;
    right: -32%;
  }

  .hero {
    align-items: flex-end;
    padding: 0px;
  }

  .hero-title {
    flex-direction: column;
  }

  .hero-title .w-50 {
    margin-bottom: 5vh;
    text-align: center;
  }

  .hero-title img {
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .hero-badger {
    align-items: center;
    text-align: center;
  }

  .head {
    display: flex;
    justify-content: center;
  }

  .grid {
    grid-template-columns: 48% 48%;
  }
  section {
    padding-bottom: 0px;
  }

  .address {
    max-width: 90%;
  }

  footer p {
    width: 100%;
  }

  footer {
    padding-bottom: 0;
  }

  footer img {
    position: relative;
    right: 0;
    bottom: -10px;
  }
}

/* Mobile Small */
@media (max-width: 375px) {
}
