/* ==========================================================================
   General Styles
   ========================================================================== */
/* Color Palette */

:root {
  --color-primary: #ffb800;
  --color-secondary: #070707;
  --color-complimentary: #3776c4;

  --color-white: #fff;
  --color-black: #131313;

  --color-messageError: #ff2840;
  --color-messageSuccess: #009aff;
  --color-fieldError: #ff2840;

  --font-title: "League Spartan", sans-serif;
  --font-text: "IBM Plex Mono", monospace;
}

/* Main */

* {
  color: var(--color-black);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: var(--font-text);
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

body {
  width: 100%;
}

/* Titles */
body h1,h2,h3,h4,h5 {
  margin: 0px;
  font-family: "League Spartan", sans-serif !important;
  font-weight: 900 !important;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 42px;
  margin-bottom: 24px;
}

p {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1px;
  margin-top: 0px;
}

a {
  text-decoration: none;
}

.big-type {
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
}

.loading {
  background: var(--color-secondary);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 99999;
}

.loading img {
  width: 100px;
}

/***********************
        SECTION 1
***********************/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0px auto;
  position: relative;
  padding: 10vh 0;
}

.hero-vid {
  position: absolute;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item p {
  margin-bottom: 0;
}

section {
  padding-bottom: 5vh;
}

.address {
  text-align: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.address p:nth-child(2) {
  padding: 20px;
  font-weight: bold;
  border: 2px solid #000000;
}

footer {
  border-top: 2px solid var(--color-black);
  padding: 5vh 0;
}

footer p {
  width: 70%;
}

footer img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 460px;
}

.btn-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.head {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.head img {
  max-width: 36px;
  margin-right: 10px;
}

.hero-badger {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hero-badger img {
  max-width: 230px;
}

.hero-badger h2 {
  width: 50%;
}
