/* ==========================================================================
   User Interface
   ========================================================================== */

/***********************
          HEADER
  ***********************/

header {
  position: relative;
  right: 0;
  width: 100%;
  padding: 0;
  z-index: 9999;
  border-bottom: 2px solid var(--color-black);
}

header .logo {
  float: left;
  transition: 0.3s all;
  max-width: 150px;
}

header .logo img {
  width: 100%;
  transition: 0.4 all;
}

header .logo:hover {
  transform: scale(0.95);
  filter: brightness(1.2);
}

header ul {
  padding: 0px;
}

header .nav {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0;
}

header .nav li {
  display: flex;
  align-items: center;
  font-size: 14px;
}

header .nav li a {
  position: relative;
  padding: 0px 16px 0px 16px;
  display: flex;
  align-items: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-title);
  transition: 0.2s all;
}

header .nav li a:hover {
  transform: scale(0.9);
}

/* Button General */

.btn {
  display: inline-block;
  opacity: 1;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  line-height: 46px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-title);
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.4s;
}

.btn:hover {
  opacity: 0.8;
}

/* Button Default */

.btn-dark {
  background: var(--color-blue);
  color: var(--color-white);
  border: 2px solid var(--color-black);
}

/* Button Light */

.btn-light {
  background: #00000000;
  border: 2px solid var(--color-black);
  color: var(--color-black);
}

/* Form Inputs */

input,
textarea {
  border: 2px solid var(--color-red);
  padding: 10px 20px;
  background: none;
  color: #ffffff;
  font-size: 18px;
  font-family: var(--font-title);
  outline: none;
  box-sizing: border-box;
}

input {
  height: 60px;
}

textarea {
  height: 150px;
}

/* Error Messages */

.message-error {
  color: var(--color-messageError);
}

.message-success {
  color: var(--color-messageSuccess);
}

form .field.field-error {
  border-color: var(--color-fieldError);
}

form.form-loading button .icon {
  display: inline-block;
}

form.form-loading button .text {
  display: none;
}
